SERVER_PORT={{your_port}}
ATLAS_USERNAME={{your_username}}
ATLAS_PASSWORD={{your_password}}
SECRET_KEY={{your_secret_key}}

API_KEY= {{your_api_key}}
API_URI= {{your_api_uri}}
API_URL = https://api.nal.usda.gov/fdc/v1/foods